{% extends 'base.html' %}
{% load cart_tag %}
{% load static %}
{% block content %}
{% load i18n %}
    <div class="page-heading" style="background: none">
        <div class="container" align="center">
            <h3 align="center">{% trans "Cart Detail:" %}</h3>
            <table style="width: 80vw;">
                <tr>
                    <th>{% trans "Product:" %}</th>
                    <th>{% trans "Price:" %}</th>
                    <th>{% trans "Image:" %}</th>
                    <th>{% trans "Action:" %}</th>
                </tr>
                {% for key,value in request.session.cart.items %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>${{ value.price }}</td>
                    <td><img src="{{ value.image }}" style="height: 100px; width: 100px"></td>
                    <td>
                        <a href="{% url 'item_clear' value.product_id %}" style="margin-left: 25px;">
                            <i class="fa fa-trash" aria-hidden="true" style="color: black"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h6 align="left">{% trans "Total Products:" %} {{ request.session.cart | length }}</h6>
            <h3 align="left">{% trans "Total Price:" %} ${{ total }}</h3>
            <button class="btn btn-outline-secondary" onclick="location.href='{% url 'checkout_url' %}'">{% trans "Checkout" %}</button>
        </div>
    </div>
{% endblock content %}